.form {
    float: right;
    height: 100%;
    padding: 0px;
}

.username,
.pw {
    display: inline-block;
    background-color: rgb(216, 216, 216);
    border: none;
    height: 20px;
    margin: 0px 3px;
    margin-top: 18px;
    font-family: Arial;
    padding: 2px;
    cursor: text;
}

.login {
    font-family: Arial;
    font-size: 20px;
    padding: 10px;
    color: grey;
    background-color: #FFE800;
    margin-top: 8px;
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
}

.error {
    color: red;
    font-family: Arial;
    display: inline-block;
}