.dialog {
    display: block;
    background-color: rgb(231, 231, 231);
    width: 80%;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
    padding: 20px;
    margin: 10px auto;
    text-align: left;
    transition: padding ease 0.5s 0s;
}

.name {
    display: inline;
    color: grey;
}

.dialog li {
    color: yellow;
    display: flex;
    justify-content: space-between;
}

.active {
    padding: 30px;
    transition: padding ease 0.5s 0s;
}