.head {
    width: 98%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 98%;
    height: 90%;
}

.notActive {
    color: grey;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial;
    background-color: #FFE800;
    width: 40%;
    cursor: pointer;
}

.active {
    color: grey;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial;
    background-color: #FFE800;
    width: 40%;
    border: 2px solid #8B42D6;
    cursor: pointer;
}