.form {
    font-family: Arial;
    margin: 10px auto;
    width: 600px;
    text-align: left;
}

.form input,
.form button {
    margin: 10px;
}

.form label {
    display: inline-block;
    width: 200px;
}