.form {
    margin: 20px auto;
    text-align: left;
    font-family: Arial;
    width: 600px;
}

.form input {}

.form button {
    margin: 10px;
}

.form label {
    display: inline-block;
    width: 200px;
}